<h1> Review Local Books </h1>
<h2> Atlanta Libraries </h2>
<ul class="list-unstyled">
    <% for library in @libraries %>
        <li><a href="/libraries/<%= library[:id] %>"><%= library[:name] %></a></li>
    <% end %>
</ul>