<h1>Review a Book for <%= @library[:name] %></h1>

<form action="/libraries/<%= @library[:id] %>/reviews/create" method="POST">
  <div class="form-group">
   <label>Did You Enjoy Your Book?</label>
    <select class="form-control" name="review">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Book Title</label>
    <input type="text" class="form-control" name="book title">
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit My Review!</button>
</form>